NEXT_API_URL=http://localhost:3000
NEXT_STORAGE_URL=http://localhost:9000

# Gere com: openssl rand -base64 32
NEXT_AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3001
NEXT_EXPIRES_SECONDS_CSRF_TOKEN=3600
NEXT_EXPIRES_SECONDS_ACCESS_TOKEN=3600
NEXT_API_KEY=
